$primary: #6EA3FE;
$body-bg: #1A1B27;
$body-color: #ffff;

@import '~bootstrap/scss/bootstrap.scss';


.navbar {
  border-bottom: 1px solid darkred;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.brand-text {
  font-weight: bold;
  font-size: 2rem;
}
